venv/
__pycache__/
*.pyc
*.log
*.DS_Store
.vscode/

# 测试
tests/
test_dir/

# 配置文件
config.json
LLM.md

# vs code
workspace.code-workspace
tempCodeRunnerFile.py

PROJECT_STRUCTURE.md

# 打包文件
adb_syncer.spec
*.exe
build/
dist/
